In [1]:
### Python Basics

In [3]:
## Input and Output in Python
name = input("Enter your name: ")
print("Hello", name)

Enter your name:  Esha

Hello Esha

In [23]:
## Taking multiple inputs
height, weight = map(int, input("Enter height and weight:").split())
print(height, weight)

Enter height and weight: 10 20

10 20

In [25]:
## Floats in Python
price = float(input("Enter Price:"))
print(price)

Enter Price: 10

10.0

In [31]:
## Finding Data Types
print(type(name))
print(type(height))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [55]:
##Output Formatting
print(format(height), end='+')
print("Happy")
print(name, height, weight, sep='*')
print(f"The price is {price}, and the weight is {weight}")
print("The height is %d and weight is %d" %(height,weight))

10+Happy
Esha*10*20
The price is 10.0, and the weight is 20
The height is 10 and weight is 20

In [59]:
## Variables
# Scope of s Variable, two types - Local and Global Variable
def local():
    a = "I am Local Variable"
    print(a)
    global b
    b = "I have modified Global Variable"
    print(b)
local()

b = "I am Global Variable"

I am Local Variable
I have modified Global Variable

In [65]:
# Deleting a variable
del b
print(b)

NameError: name 'b' is not defined

In [73]:
## Python Operators
# Arithmetic Operator
print("Addition", height+weight)
print("Subtraction", height-weight)
print("Multiplication", height*weight)
print("Division", height/weight)
print("Floor Division", height//weight)
print("Modulus", height%weight)
print("Exponent", height**weight)

Addition 30
Subtraction -10
Multiplication 200
Division 0.5
Floor Division 0
Modulus 10
Exponent 100000000000000000000

In [75]:
# Comparision Operators
print(height>weight)
print(height<weight)
print(height==weight)
print(height<=weight)
print(height>=weight)
print(height!=weight)

False
True
False
True
False
True

In [79]:
#Logical Operators
x=0
y=1
print(x and y)
print(x or y)
print( not y)

0
1
False

In [101]:
#Bitwise Operaotrs
m=0b1111
n=0b1011
print(f"Bitwise and operation is {bin(m & n)}")
print(f"Bitwise OR operation is {bin(m|n)}")
print(f"Bitwise NOT operation is {bin(~n)}")

Bitwise and operation is 0b1011
Bitwise OR operation is 0b1111
Bitwise NOT operation is -0b1100

In [119]:
#Assignment Operators
print(height, weight)
height += weight
print(height)
height -= weight
print(height)
height *= weight
print(height)
height /= weight
print (height)
height=int(height)
height <<= weight
print(height)

30.0 20
50.0
30.0
600.0
30.0
31457280

In [121]:
# Identity Operators
print(x is not y)
print(x is y)

True
False

In [127]:
# Membership Associativity Operators
list = [1,2,3,4,5]
print(x not in list)
print(y in list)

True
True

In [129]:
## Data Type in Python
# Numeric Data Type (Integer, Float and Complex Number)
a = 5
print(type(a))

b = 5.0
print(type(b))

c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [141]:
# Sequence Data Type (String List and Tuple)
# String
text = "  Hello, Python World!  "

# Basic operations
print(text.strip())          # Remove leading/trailing spaces
print(text.lower())          # Convert to lowercase
print(text.upper())          # Convert to uppercase
print(text.replace("Python", "AI"))  # Replace a word
print(text.find("World"))    # Find substring position
print(text.split())          # Split into list of words
print("-".join(["A", "B", "C"]))     # Join list into string


# List
numbers = [10, 20, 30, 40]

# Basic operations
numbers.append(50)           # Add to end
numbers.insert(2, 25)        # Insert at index 2
numbers.remove(40)           # Remove value
last = numbers.pop()         # Remove last item
numbers.sort()               # Sort list
numbers.reverse()            # Reverse list
print(numbers)
print(len(numbers))
print(30 in numbers)         # Check if 30 is in list


# Tuple
point = (3, 4)

# Access
print(point[0])              # Indexing
print(len(point))            # Length

# Tuple unpacking
x, y = point
print(f"x: {x}, y: {y}")

# Tuple as dictionary key
coords = {(3, 4): "A Point"}
print(coords[point])

Hello, Python World!
  hello, python world!
  HELLO, PYTHON WORLD!
  Hello, AI World!
16
['Hello,', 'Python', 'World!']
A-B-C
[30, 25, 20, 10]
4
True
3
2
x: 3, y: 4
A Point

In [131]:
# Boolean Data Type
print(type(True))
print(type(False))
print(type(true))

<class 'bool'>
<class 'bool'>

NameError: name 'true' is not defined

In [143]:
#Set Data Type
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Basic operations
set1.add(4)                  # Add item
set1.remove(2)               # Remove item
set1.discard(10)             # Safe remove
print(set1)

# Set math
print(set1 | set2)           # Union
print(set1 & set2)           # Intersection
print(set1 - set2)           # Difference
print(set1 ^ set2)           # Symmetric difference

print(3 in set1)             # Membership test

{1, 3, 4}
{1, 3, 4, 5}
{3, 4}
{1}
{1, 5}
True

In [145]:
#Dictionary Data Type
person = {
    "name": "Esha",
    "age": 25,
    "skills": ["Python", "ML"]
}

# Access & modify
print(person["name"])
print(person.get("email", "Not Provided"))  # Safe access
person["age"] = 26
person["email"] = "pandey@example.com"

# Functions
print(person.keys())
print(person.values())
print(person.items())

# Loop
for key, value in person.items():
    print(f"{key} => {value}")

# Remove
person.pop("skills")
person.update({"location": "KTM"})
print(person)

Esha
Not Provided
dict_keys(['name', 'age', 'skills', 'email'])
dict_values(['Esha', 26, ['Python', 'ML'], 'pandey@example.com'])
dict_items([('name', 'Esha'), ('age', 26), ('skills', ['Python', 'ML']), ('email', 'pandey@example.com')])
name => Esha
age => 26
skills => ['Python', 'ML']
email => pandey@example.com
{'name': 'Esha', 'age': 26, 'email': 'pandey@example.com', 'location': 'KTM'}

In [153]:
## Conditional Statements
# if statement
age = 20

if age >= 18:
    print("Eligible to vote.")

# if else statement
if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket.")

# elif statement

if age <= 12:
    print("Child.")
elif age <= 19:
    print("Teenager.")
elif age <= 35:
    print("Young adult.")
else:
    print("Adult.")

# nestled if else statement

is_member = True

if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

Eligible to vote.
Pay for ticket.
Young adult.
Not eligible for a senior discount.

In [155]:
# Match-Case Statement
number = 2

match number:
    case 1:
        print("One")
    case 2 | 3:
        print("Two or Three")
    case _:
        print("Other number")

Two or Three

In [165]:
## Loops in python
# while loop

cnt = 0
while (cnt < 3):
    cnt = cnt + 1
    print("Hello World.")
else:
    print("In Else Block")

# For loop
n = 4
for i in range(0, n):
    print(i)

# Nestled Loop
for i in range(1, 5):
    for j in range(i):
        print(i, end=' ')
    print()

Hello World.
Hello World.
Hello World.
In Else Block
0
1
2
3
1
2 2
3 3 3
4 4 4 4